# Compiled class files
*.class

# Maven target directory
/target/

# Logs
*.log

# Eclipse / NetBeans / IntelliJ project files
*.iml
.idea/
*.ipr
*.iws
*.nb-configuration.xml
*.nb-gradle/
*.nbproject/
*.class
.DS_Store

# VSCode
.vscode/

# MacOS Finder files
.DS_Store

# Windows thumbnail cache
Thumbs.db

# JARs or external libs (if not versioned intentionally)
*.jar

# Build output
bin/
out/
build/

# Lombok delombok output
delombok/

# Java annotations processing
*.hprof
